<ion-header>
  <ion-toolbar style="--background: #757374; color: white;">
    <ion-title>
      Encuesta de satifacción
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="text-center">
    <b >
      Estimado cliente: <br>
    Con la finalidad de brindarle un mejor servicio y lograr su satisfacción solicitamos de su ayuda para proprocionar los
    siguientes datos:
    </b>
  </div>
  <hr>
  <div class="table-responsive m-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td>
            Comentarios
          </td>
          <td class="text-center">
            10
            <br>
            Excelente
          </td>
          <td class="text-center">
            8
            <br>
            Bueno
          </td>
          <td class="text-center">
            6
            <br>
            Regular
          </td>
          <td class="text-center">
            4
            <br>
            Malo
          </td>
          <td class="text-center">
            2
            <br>
            Pésimo
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1.- El <b>Tiempo de respuesta</b> desde la solicitud del servicio hasta su realización fue:
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="tRespuesta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="tRespuesta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="tRespuesta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="tRespuesta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="tRespuesta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            2.- <b>La Calidad</b> respecto al servicio proprocionada por nuestro personal fue:
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="calidad" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="calidad" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="calidad" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="calidad" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="calidad" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            3.- <b>La atención personal hacia usted fue: </b>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="atencion" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="atencion" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="atencion" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="atencion" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="atencion" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            4.- Algún miembro de nuestro personal le atendió mal o incorrectamente:
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="conducta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="conducta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="conducta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="conducta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
          <td class="text-center">
            <div>
              <input class="form-check-input" type="radio" name="conducta" id="radioNoLabel1" value=""
                aria-label="...">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <ion-textarea class="p-2" label="Observaciones del inspector" labelPlacement="floating" fill="outline"
      placeholder="Observaciones" [autoGrow]="true">
    </ion-textarea>

    <hr>
    <div class="row text-center m-3">
      <div class="col-md-6 d-grid gap-2">
        <ion-button fill="clear" class="btn btn-secondary">
          Limpiar Formulario
        </ion-button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <ion-button (click)="generarReporte()" fill="clear" class="btn btn-success">
          Guardar y generar reporte
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>