<app-menu titulo="Mi perfil"></app-menu>

<ion-content [fullscreen]="true">
  <div class="row mx-5">
    <div class="col-md-6">
      <ion-card>
        <ion-card-header class="text-center">
          <ion-card-title>Usuario</ion-card-title>
          <hr>
          <ion-card-subtitle>
            <img src="/assets/user_sys.png" alt="" srcset="" style="max-width: 200px;">
            <hr>
            <h5>{{ usuario.usuario }}</h5>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card class="custom-card">
        <ion-card-header class="text-center">
          <ion-card-title>Mi informaicón</ion-card-title>
          <hr>
          <ion-card-subtitle>
            <ion-list>
              <ion-item>
                <ion-label>
                  <b>Nombre:</b> <br> {{ usuario.usuario }}
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <b>Email:</b> <br> {{ usuario.email }}
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <b>Rol de usuario:</b> <br> {{ usuario.role == 'PA' ? 'Personal de apoyo': usuario.role }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <hr>
  <div class="mx-5">
    <ion-card>
      <ion-card-header>
        <div class="row">
          <div class="col-md-9">
            <ion-card-title>Descarga los contenidos del sistema</ion-card-title>
            <ion-card-subtitle>
              En caso de que se te solicite descarga los siguientes contenidos para trabajar de manera offline o fuera
              de red de internet
            </ion-card-subtitle>
          </div>
          <div class="col-md-3">
            <ion-button fill="clear" class="btn btn-primary" (click)="crearCarpeta()">
              Descargar
            </ion-button>
          </div>
        </div>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <div class="row">
          <div class="col-md-9">
            <ion-card-title>Ingresar información</ion-card-title>
            <ion-card-subtitle>
              info
            </ion-card-subtitle>
          </div>
          <div class="col-md-3">
            <ion-button fill="clear" class="btn btn-primary" (click)="ingresarInfo()">
              Ingresar
            </ion-button>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>