<ion-card>
  <ion-accordion-group [multiple]="true">
    <ion-accordion value="iCliente">
      <ion-item slot="header" color="light">
        <ion-label>Información del cliente</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="Basculas">
      <ion-item slot="header" color="light">
        <ion-label>Basculas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="Inspeccion">
      <ion-item slot="header" color="light">
        <ion-label>Inspección</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
    <ion-accordion value="Resumen">
      <ion-item slot="header" color="light">
        <ion-label>Resumen</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
    <ion-accordion value="Firma">
      <ion-item slot="header" color="light">
        <ion-label>Firma</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-card>