<app-menu titulo="Vehiculos y equipos registrados"></app-menu>

<ion-content [fullscreen]="true">
  <div class="row">
    <div class="col-md-6">
      <ion-card>
        <ion-card-header style="background-color: #211F20;">
          <ion-card-title class="text-center" style="color: white;">
            VEHICULOS
            <div>
              <ion-searchbar 
              [debounce]="250" 
              showCancelButton="always" 
              mode="ios" color="light"
              cancel-button-text="Borrar"
              placeholder="Busca la placa de un vehiculo"
              ></ion-searchbar>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">No. Vehiculo</th>
                  <th scope="col">Placa</th>
                  <th scope="col" class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of autos; let i = index">
                  <ng-container *ngIf="i < 8">
                    <th scope="row" class="center-elements-table" style="padding-top: 3%;">
                      {{ i + 1 }}
                    </th>
                    <td class="center-elements-table" style="padding-top: 3%;">{{ item.placa }}</td>
                    <td>
                      <ion-button expand="block" color="primary" fill="clear"
                        shape="round" (click)="editarAuto(item)">
                        Detalles
                      </ion-button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card>
        <ion-card-header style="background-color: #211F20;">
          <ion-card-title class="text-center" style="color: white;">
            EQUIPOS DE MEDICIÓN
            <div>
              <ion-searchbar 
              [debounce]="250" 
              showCancelButton="always" 
              mode="ios" color="light"
              cancel-button-text="Borrar"
              placeholder="Busca un equipo"
              ></ion-searchbar>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">No. Equipo</th>
                  <th scope="col">Identificador</th>
                  <th scope="col" class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of herramientas; let i = index">
                  <ng-container *ngIf="i < 7">
                    <th scope="row" class="center-elements-table" style="padding-top: 3%;">
                      {{ i + 1 }}
                    </th>
                    <td class="center-elements-table" style="padding-top: 3%;">{{ item.identificacion }}</td>
                    <td>
                      <ion-button expand="block" color="primary" fill="clear"
                        shape="round" (click)="editarHerramienta(item)">
                        Detalles
                      </ion-button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" color="primary">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addNewCar()">
        <ion-icon name="car-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="addNewTool()">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>