<app-menu titulo="Vehiculos y equipos registrados"></app-menu>

<ion-content [fullscreen]="true">
  <div class="row">
    <div class="col-md-6">
      <ion-card style="border-radius: 15px;">
        <ion-card-header style="background-color: #211F20;">
          <ion-card-title class="text-center" style="color: white;">
            VEHICULOS
            <div>
              <ion-searchbar [debounce]="250" showCancelButton="always" mode="ios" color="light"
                cancel-button-text="Borrar" placeholder="Busca la placa de un vehiculo"
                (ionInput)="handleSearchCar($event)">
                ></ion-searchbar>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Placa</th>
                  <th scope="col" class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of registrosCarPaginados">
                  <td style="padding-left: 5%; padding-top: 3%;">{{ item.placa }}</td>
                  <td style="text-align: center;">
                    <ion-button fill="clear" color="primary" size="large" (click)="editarAuto(item)">
                      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-button>
                  </td>
                </tr>
              </tbody>
              <div class="pagination">
                <ion-button (click)="paginaAnteriorCar()" [disabled]="paginaActualCar === 1">Anterior</ion-button>
                <ion-label>{{ paginaActualCar }} / {{ getTotalPaginasCar() }}</ion-label>
                <ion-button (click)="paginaSiguienteCar()"
                  [disabled]="paginaActualCar === getTotalPaginasCar()">Siguiente</ion-button>
              </div>

            </table>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card style="border-radius: 15px;">
        <ion-card-header style="background-color: #211F20;">
          <ion-card-title class="text-center" style="color: white;">
            EQUIPOS DE MEDICIÓN
            <div>
              <ion-searchbar [debounce]="250" showCancelButton="always" mode="ios" color="light"
                cancel-button-text="Borrar" placeholder="Busca un equipo"
                (ionInput)="handleSearchTool($event)"></ion-searchbar>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Identificador</th>
                  <th scope="col" class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of registrosToolPaginados">
                  <td style="padding-left: 5%; padding-top: 3%;">{{ item.identificacion }}</td>
                  <td style="text-align: center;">
                    <ion-button fill="clear" color="primary" size="large" (click)="editarHerramienta(item)">
                      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-button>
                  </td>
                </tr>
              </tbody>
              <div class="pagination">
                <ion-button (click)="paginaAnteriorTool()" [disabled]="paginaActualTool === 1">Anterior</ion-button>
                <ion-label>{{ paginaActualTool }} / {{ getTotalPaginasTool() }}</ion-label>
                <ion-button (click)="paginaSiguienteTool()"
                  [disabled]="paginaActualTool === getTotalPaginasTool()">Siguiente</ion-button>
              </div>
            </table>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" color="primary">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addNewCar()">
        <ion-icon name="car-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="addNewTool()">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>