<app-menu titulo="Historial de reportes"></app-menu>

<ion-content [fullscreen]="true">
  <ion-card class="m-5">
    <ion-card-header style="background-color: #211F20;">
      <ion-card-title class="text-center" style="color: white;">
        LISTA DE REPORTES
      </ion-card-title>
      <ion-card-subtitle>
        <ion-searchbar placeholder="Buscar cita" inputmode="decimal" type="decimal" [debounce]="250" showCancelButton="always"></ion-searchbar>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"># Cita</th>
          <th scope="col">Nombre / Razón Social</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Tipo de servicio</th>
          <th scope="col">Administración</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="mostrarPdf()" expand="block" fill="clear" shape="round">
    Mostrar
  </ion-button>
</ion-content>
