<app-menu titulo="Cuentas"></app-menu>

<ion-content [fullscreen]="true">
  <div class="row">
    <div class="col-md-6">
      <ion-card style="border-radius: 15px;">
        <ion-card-header style="background-color: #211F20;">
          <ion-card-title class="text-center" style="color: white;">
            LISTA DE USUARIOS
          </ion-card-title>
          <ion-card-subtitle>
            <ion-searchbar placeholder="Buscar usuario" inputmode="decimal" type="decimal" [debounce]="250"
              showCancelButton="always"></ion-searchbar>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Correo eléctronico</th>
                <th scope="col">Tipo de usuario</th>
                <th scope="col" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuariosRegistrados; let i = index">
                <ng-container *ngIf="i < 7">
                  <th scope="row" class="center-elements-table pt-3">{{ item.usuario }}</th>
                  <td class="center-elements-table pt-3">{{ item.email }}</td>
                  <td class="center-elements-table pt-3">{{ item.role }}</td>
                  <td>
                    <ion-button (click)="detailUser(item)" expand="block" color="primary" fill="clear" shape="round">
                      Detalles
                    </ion-button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card style="border-radius: 15px;">
        <ion-card-header style="background-color: #211F20;">
          <ion-card-title class="text-center" style="color: white;">Empleado: <b>{{ usuarioDetalles.usuario }}</b>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2 style="text-align: center; margin-top: 2%;">Informaicón Personal</h2>
          <ion-list>
            <ion-item lines="">
              <ion-label style="font-size: medium;">
                <b>Nombre:</b> {{ usuarioDetalles.usuario }}
              </ion-label>
            </ion-item>
            <ion-item lines="">
              <ion-label style="font-size: medium;">
                <b>Correo:</b> {{ usuarioDetalles.email }}
              </ion-label>
            </ion-item>
            <ion-item lines="">
              <ion-label style="font-size: medium;">
                <b>Tipo de usuario:</b> {{ usuarioDetalles.role }}
              </ion-label>
            </ion-item>

          </ion-list>
          <h2 style="text-align: center; margin-top: 2%;">Vehicuo usado</h2>
          <ion-list>
            <ion-item lines="">
              <ion-label style="font-size: medium;">
                <b>El usuario utiliza el auto:</b>
              </ion-label>
            </ion-item>
          </ion-list>
          <h2 style="text-align: center; margin-top: 2%;">Equipo</h2>
          <ion-list>
            <ion-item lines="">
              <ion-button (click)="editUser(usuarioDetalles)" expand="block" color="primary" fill="clear" shape="round">
                Editar usuario
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" color="primary">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addUser()" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>