<app-menu titulo="Cuentas"></app-menu>

<ion-content [fullscreen]="true">
  <ion-card class="mx-5">
    <ion-card-header>
      <ion-card-title class="text-center">
        LISTA DE USUARIOS
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Buscar usuario" inputmode="decimal" type="decimal" [debounce]="250" showCancelButton="always"></ion-searchbar>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"># Persona</th>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Correo eléctronico</th>
          <th scope="col">Tipo de usuario</th>
          <th scope="col">Acciones</th>
          <th>
          
           
              <button (click)="addUser()"  type="button" class="btn btn-outline-primary">  
                <ion-icon name="add-circle-outline" style="justify-content: center;" ></ion-icon>
              </button>
            
          
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>mdo</td>
          <th>   <button  type="button" class="btn btn-outline-primary">
            <ion-icon name="create-outline"></ion-icon>
          </button></th>
          <th>   <button type="button" class="btn btn-outline-danger">
            <ion-icon name="trash-outline"></ion-icon>
          </button></th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
          <td>mdo</td>
          <th>   <button  type="button" class="btn btn-outline-primary">
            <ion-icon name="create-outline"></ion-icon>
          </button></th>
          <th>  <button type="button" class="btn btn-outline-danger">
            <ion-icon name="trash-outline"></ion-icon>
          </button></th>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>mdo</td>
          <th>  <button  type="button" class="btn btn-outline-primary">
            <ion-icon name="create-outline"></ion-icon>
          </button></th>
          <th>   <button type="button" class="btn btn-outline-danger">
            <ion-icon name="trash-outline"></ion-icon>
          </button></th>
        </tr>
        
      </tbody>
    </table>
    </ion-card-content>
  </ion-card>


</ion-content>
