<ion-header>
  <ion-toolbar style="--background: #757374; color: white;">
    <ion-title>
      Editar el usuario - {{usuario.usuario}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row p-5">
    <div class="col-md-4 text-center">
      <img src="assets/user_sys.png" alt="" style="height: 80%;">
    </div>
    <div class="col-md-8">
      <form (ngSubmit)="getInformacionUsuario()" [formGroup]="informacionUsuario">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputUser" placeholder="Nombre del usuario" formControlName="usuario">
          <label for="floatingInputUser">Nombre de usuario</label>
        </div>
    
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInputEmail" placeholder="ejemplo@gmail.com" formControlName="email">
          <label for="floatingInputEmail">Correo electrónico</label>
        </div>
    
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputPassword" placeholder="*********" formControlName="password">
          <label for="floatingInputPassword">Contraseña</label>
        </div>
    
        <select class="form-select  mb-3" aria-label="Large select example" formControlName="role">
          <option value="" selected>Tipo de usuario</option>
          <option value="Gerente">Gerente</option>
          <option value="Supervisor">Supervisor</option>
          <option value="Inspector">Inspector</option>
          <option value="PA">Peronsal de apoyo</option>
        </select>
    
        <div class="row text-center">
          <div class="col-md-6 d-grid gap-2">
            <ion-button class="btn btn-danger mt-3" fill="clear" (click)="limpiarFormulario()">Eliminar usuario</ion-button>
          </div>
          <div class="col-md-6 d-grid gap-2">
            <ion-button type="submit" class="btn btn-success mt-3" fill="clear">Editar usuario</ion-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
