<ion-header>
  <ion-toolbar style="--background: #757374; color: white;">
    <ion-title>
      Editar equipo - {{toolEditar.identificacion}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mx-5" style="margin-top: 4%;">
    <form (ngSubmit)="editarPesa()" [formGroup]="editarPesaDetalles">
      <div class="row">
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatidentificacion" placeholder="ID del equipo"
              formControlName="identificacion">
            <label for="floatidentificacion">Identificación</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floattipo_instrumento" placeholder="Tipo"
              formControlName="tipo_instrumento">
            <label for="floattipo_instrumento">Tipo de instrumento</label>
          </div>
        </div>
        <div class="col-md-4">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="estado">
            <option value="Disponible">Disponible</option>
            <option value="En uso">En uso</option>
          </select>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatmarca" placeholder="Marca del equipo"
              formControlName="marca">
            <label for="floatmarca">Marca</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatmodelo" placeholder="Modelo del equipo"
              formControlName="modelo">
            <label for="floatmodelo">Modelo</label>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatno_serie" placeholder="Número de serie"
              formControlName="no_serie">
            <label for="floatno_serie">Número de serie</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatcapacidad" placeholder="Capacidad del equipo"
              formControlName="capacidad">
            <label for="floatcapacidad">Capacidad</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatclase_exactitud" placeholder="Clase del equipo"
              formControlName="clase_exactitud">
            <label for="floatclase_exactitud">Clase de exactitud</label>
          </div>
        </div>
      </div>
  
      <div class="form-floating">
        <textarea class="form-control" placeholder="Escribe las observaciones del equipo"
          id="floatingTextareaobservaciones" formControlName="observaciones" style="height: 100px"></textarea>
        <label for="floatingTextareaobservaciones">Observaciones</label>
      </div>
  
      <hr>
      <div>
        <div class="row">
          <div class="col-md-6">
            <ion-button type="submit" expand="block" color="primary">Editar equipo</ion-button>
          </div>
          <div class="col-md-6">
            <ion-button type="button" expand="block" (click)="borrarPesa()" color="danger">Borrar equipo</ion-button>
          </div>
        </div>
        
      </div>
    </form>
  </div>
</ion-content>