<app-menu titulo="Control de información"></app-menu>

<ion-content [fullscreen]="true">
  <ion-card class="m-5">
    <ion-card-header style="background-color: #211F20;">
      <ion-card-title class="text-center" style="color: white;">
        LISTA DE REPORTES
      </ion-card-title>
      <ion-card-subtitle>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="9">
              <ion-searchbar class="pt-3" placeholder="BUSCAR INFORMIACÓN POR NOMBRE O RAZÓN SOCIAL" inputmode="decimal" type="decimal" [debounce]="250"
                showCancelButton="always"></ion-searchbar>
              <ion-searchbar placeholder="BUSCAR INFORMACIÓN POR EQUIPO" inputmode="decimal" type="decimal" [debounce]="250"
                showCancelButton="always"></ion-searchbar>
            </ion-col>
            <ion-col size="3">
              <div>
                <h5 class="text-center">Rango de fechas</h5>
              </div>
              <div class="pt-1">
                <ion-datetime-button datetime="datetimeIni"></ion-datetime-button>
  
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" id="datetimeIni"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </div>
  
              <div class="pt-4">
                <ion-datetime-button datetime="datetimeFin"></ion-datetime-button>
  
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" id="datetimeFin"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      

      <table class="table">
        <thead>
          <tr>
            <th scope="col"># Cita</th>
            <th scope="col">Nombre / Razón Social</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Administración</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>