<app-menu titulo="Control de información"></app-menu>

<ion-content [fullscreen]="true">
  <ion-card class="m-4" style="border-radius: 15px;">
    <ion-card-header style="background-color: #211F20;">
      <ion-card-subtitle>
        <div class="row">
          <div class="col-md-9">
            <h5 style="color: white; text-align: center;">Búsqueda por nombre</h5>
            <ion-searchbar [debounce]="250" showCancelButton="always" mode="ios" color="light"
              cancel-button-text="Borrar" placeholder="BUSCAR INFORMACIÓN POR NOMBRE O RAZÓN SOCIAL">
            </ion-searchbar>
          </div>
          <div class="col-md-3">
            <h5 style="color: white; text-align: center;">Rango de fechas</h5>
            <div class="row mt-4">
              <div class="col-md-6">
                <h6 style="color: white; text-align: center;">Fecha Inicio</h6>
                <ion-datetime-button datetime="datetimeIni"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" id="datetimeIni"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </div>
              <div class="col-md-6">
                <h6 style="color: white; text-align: center;">Fecha Fin</h6>
                <ion-datetime-button datetime="datetimeFin"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" id="datetimeFin"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </div>
            </div>
          </div>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Inspector</th>
            <th scope="col">Nombre / Razón Social</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Tipo de inspección</th>
            <th scope="col">Administración</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reportesPaginados">
            <td>{{ item.nombreUsuario }}</td>
            <td>{{ item.infoCliente.nombre_razon_social }}</td>
            <td>{{ item.infoCliente.domicilio }} {{ item.infoCliente.colonia }} {{ item.infoCliente.num_dom }}</td>
            <td>{{ item.infoBasculas.tipo_inspeccion }}</td>
            <td>
              <ion-button expand="block" fill="clear" shape="round" (click)="detallesReporte(item)">
                Detalles
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <ion-button (click)="paginaAnterior()" [disabled]="paginaActual === 1">Anterior</ion-button>
        <ion-label>{{ paginaActual }} / {{ getTotalPaginas() }}</ion-label>
        <ion-button (click)="paginaSiguiente()" [disabled]="paginaActual === getTotalPaginas()">Siguiente</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
