<app-menu titulo="Panel de control"></app-menu>

<ion-content [fullscreen]="true">
  <ion-grid style="padding: 1%;">
    <ion-row>
      <ion-col size="12" size-sm="12">
        <ion-card class="custom-card-height-cliente">
          <ion-card-header style="background-color: #211F20;">
            <ion-card-title class="text-center" style="color: white;">
              CITAS PROGRAMADAS
            </ion-card-title>
            <ion-card-subtitle>
              <ion-searchbar 
              [debounce]="250" 
              showCancelButton="always" 
              mode="ios" color="light"
              cancel-button-text="Borrar"
              placeholder="Busca un equipo"
              ></ion-searchbar>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="table-responsive dispositivos-busqueda">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nombre / Razón Social</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Tipo de servicio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="text-center">Administración</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of results; let i = index">
                    <ng-container *ngIf="i < 8">
                      <th scope="row" class="center-elements-table">{{ item.nombre_razon_social }}</th>
                      <td class="center-elements-table">{{ item.domicilio }}</td>
                      <td class="center-elements-table">{{ item.tipo_servicio }}</td>
                      <td class="center-elements-table">{{ item.fecha }}</td>
                      <td>
                        <ion-button (click)="mostrarDetalles(item)" expand="block" color="primary" fill="clear"
                          shape="round">
                          Detalles
                        </ion-button>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="12">
        <ion-card>
          <ion-card-header class="text-center" style="background-color: #211F20;">
            <ion-card-title style="color: white;">ESTADISTICAS</ion-card-title>
          </ion-card-header>
          <ion-grid>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <h5>Clientes frecuentes (Top 10)</h5>
                      <ol style="margin-top: 5%;">
                        <!-- Mostramos los nombres de los clientes en un top 10 -->
                        <li *ngFor="let cliente of topClientes" style="font-size: medium;">
                          {{ cliente[0] }} ({{ cliente[1] }} actividades)
                        </li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div>
                      <h5>Clientes Frecuentes (Gráfico de Pastel)</h5>
                    </div>
                    <!-- Aquí muestra el gráfico de pastel -->
                    <div id="chart_div_pie"></div>
                  </div>
                </div>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" color="primary">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addCita()" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>