<ion-card>
  <ion-card-header>
    <ion-segment [value]="segment" (ionChange)="onSegementChanged($event)">
      <ion-segment-button value="infoClientes">
        <ion-label>Información cliente</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Basculas">
        <ion-label>Basculas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="InspeccionVisual">
        <ion-label>Inspección Visual</ion-label>
      </ion-segment-button>
      <ion-segment-button value="InspeccionMetro">
        <ion-label>I. Metrológicas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Resumen">
        <ion-label>Dictamen</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Firma">
        <ion-label>Firma</ion-label>
      </ion-segment-button>
    </ion-segment>
    <hr>
  </ion-card-header>

  <ion-card-content>
    <ng-container *ngIf="segment == 'infoClientes'">
      <ion-item>
        <ion-select placeholder="Seleccione a un cliente" (ionChange)="citaProgramada($event)">
          <ion-select-option *ngFor="let item of citasProgramadas"
            [value]="item">{{item.nombre_razon_social}}</ion-select-option>
        </ion-select>
      </ion-item>
      <hr>
      <form (ngSubmit)="getinfoCliente()" [formGroup]="clienteInformacion">
        <div class="row">
          <div class="col-md-8">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingnombre_razon_social"
                formControlName="nombre_razon_social">
              <label for="floatingnombre_razon_social">Razón Social y/o Nombre</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingrfc" formControlName="rfc">
              <label for="floatingrfc">R.F.C.</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="telefono">
              <label for="floatingtelefono">Teléfono</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputfecha" formControlName="Fecha">
              <label for="floatingInputfecha">Fecha</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputtipo_servicio" formControlName="tipo_servicio">
              <label for="floatingInputtipo_servicio">Tipo de servicio</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInputcp" formControlName="cp">
              <label for="floatingInputcp">Código postal</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputgiro" formControlName="giro_empresarial">
              <label for="floatingInputgiro">Giro empresarial</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputdomicilio" formControlName="domicilio">
              <label for="floatingInputdomicilio">Domicilio</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInputnum" formControlName="num_dom">
              <label for="floatingInputnum"># Num</label>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputcolonia" formControlName="colonia">
              <label for="floatingInputcolonia">Colonia</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputmunicipio" formControlName="municipio">
              <label for="floatingInputmunicipio">Municipio</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputestado" formControlName="estado">
              <label for="floatingInputestado">Estado/Edo</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 d-grid gap-2">
            <ion-button (click)="limpiarInfoCliente()" class="btn btn-secondary" expand="block" fill="clear">
              Limpiar Formulario
            </ion-button>
          </div>
          <div class="col-md-6 d-grid gap-2">
            <ion-button type="submit" expand="block" class="btn btn-success" fill="clear">
              Guardar
            </ion-button>
          </div>
        </div>
      </form>
    </ng-container>

    <!-- AQUÍ TERMINA LA DE INFO PERSONAL-->

    <ng-container *ngIf="segment == 'Basculas'">

      <form [formGroup]="basculaInformacion">
        <div class="row">
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="compromiso">
              <label for="floatingtelefono">Compromiso</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputfecha" formControlName="inspeccion">
              <label for="floatingInputfecha">Inspección</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <ion-select fill="outline" formControlName="tipo_inspeccion" placeholder="Tipo de inspección">
                <ion-select-option value="Inicial">Inicial</ion-select-option>
                <ion-select-option value="Periódica">Periódica</ion-select-option>
                <ion-select-option value="Extraordinaria">Extraordinaria</ion-select-option>
              </ion-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <ion-select fill="outline" formControlName="semestre" placeholder="Semestre">
                <ion-select-option value="Primero">Primero</ion-select-option>
                <ion-select-option value="Segundo">Segundo</ion-select-option>
              </ion-select>
            </div>
          </div>
        </div>
      </form>

      <hr>
      <form (ngSubmit)="getBascula()" [formGroup]="registroBasculas">
        <div class="p-2 text-center">
          <h3>Registro de basculas</h3>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="marca">
              <label for="floatingtelefono">Marca</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputfecha" formControlName="modelo">
              <label for="floatingInputfecha">Modelo</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputtipo_servicio" formControlName="no_serie">
              <label for="floatingInputtipo_servicio">No. Serie</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputtipo_servicio" formControlName="clase">
              <label for="floatingInputtipo_servicio">Clase de exactitud</label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="divi_max"
                (input)="clasifiacionbasculas($event,'divi_max')">
              <label for="floatingtelefono">Divisón maxima</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputfecha" formControlName="alcance_max"
                (input)="clasifiacionbasculas($event,'alcance_max')">
              <label for="floatingInputfecha">Alcance maximo</label>
            </div>
          </div>
          <div class="col-md-3">
            Tipo de instrumento
            <select class="form-select" aria-label=".form-select-lg" formControlName="tipo_bascula">
              <option value="M">Mecánico</option>
              <option value="E">Electrónico</option>
              <option value="H">Hibrido</option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="form-floating">
              <ion-button type="submit" expand="block" class="pt-2">
                Agregar Bascula
              </ion-button>
            </div>
          </div>
        </div>
      </form>
      <hr>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>No. Serie</th>
              <th>Clase</th>
              <th>División maxima</th>
              <th>Alcance maximo</th>
              <th>Tipo de instrumento</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of basculas; let i = index">
              <td>{{ item.marca }}</td>
              <td>{{ item.modelo }}</td>
              <td>{{ item.no_serie }}</td>
              <td>{{ item.clase }}</td>
              <td>{{ item.divi_max }}</td>
              <td>{{ item.alcance_max }}</td>
              <td>{{ item.tipo_bascula }}</td>
              <td>
                <ion-button (click)="eliminarBascula(i)" expand="block" fill="clear" class="btn btn-danger btn-sm">
                  Eliminar
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="row text-center ">
        <div class="col-md-6  d-grid gap-2">
          <ion-button (click)="limpiarFormularioBasculas()" expand="block" fill="clear" class="btn btn-secondary">
            Limpiar Formulario
          </ion-button>
        </div>
        <div class="col-md-6  d-grid gap-2">
          <ion-button (click)="guardarInformacionBasculas()" expand="block" fill="clear" class="btn btn-success">
            Guardar
          </ion-button>
        </div>
      </div>


    </ng-container>

    <!-- AQUI TERMINA EL REGISTOR DE LAS BASCULAS-->

    <ng-container *ngIf="segment == 'InspeccionVisual'">
      <h5 class="text-center">INSPECCIONAR QUE EL INSTRUMENTO DE MEDICIÓN CUMPLA CON LAS CARACTERÍSTICAS QUE LE APLIQUEN
        DE LA SIGUIENTE LISTA Y REGISTRAR EL CUMPLIMIENTO ( C ), NO CUMPLIMIENTO (NC) O NO APLICA (NA)</h5>
      <hr>


      <form (ngSubmit)="getInspeccionVisual()" [formGroup]="inspeccionVisual">
        <ion-select placeholder="Seleccione a una bascula" fill="outline" formControlName="basculaInspeccion"
          (ionChange)="loadInfoVisuales($event)">
          <ion-select-option *ngFor="let item of basculasVisual; let i = index" [value]="item">Equipo No. {{i+1}} ||
            Marca:
            {{item.marca}}
          </ion-select-option>
        </ion-select>
        <hr>
        <table class="table">
          <tbody>
            <tr>
              <td>El aspecto general del instrumento debe estar en buenas condiciones no tenga piezas sueltas.</td>
              <td>
                <ion-select fill="outline" formControlName="IV1">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>El estado de la escala debe ser aceptable, enténdiendose por aceptable que no presente ralladuras ni
                deformaciones, tales que afecten la toma de las lecturas con claridad</td>
              <td>
                <ion-select fill="outline" formControlName="IV2">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
            </tr>

            <tr>
              <td>
                Se debe inspeccionar que el tornillo en que estén las piezas que sirven para nivelar el dispositivo
                indicador, esté fijo y colocado de tal manera que no sea posible retirar de él, niguna de las piezas.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV3">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>El equipo auxiliar si existiera debe ser aceptable, por ejemplo los caucharones y contrapesos no deben
                presentar golpes o deformaciones, debe comprobarse la masa real de de los contrapesos, también se debe
                comprobar la masa por contrapesar para lo cual debe conocerse la relación del instrumento.</td>
              <td>
                <ion-select fill="outline" formControlName="IV4">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
            </tr>

            <tr>
              <td>
                Inspeccionar que las graduaciones de los dispositivos indicadores estén en unidades del Sistema General
                de
                Unidades de Medida conformidad con la NOM-008-SCFI con sus símbolos correspondientes.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV5">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>
                Inspeccionar las indicaciones obligatorias y posiciones para las marcas de inspección y control.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV6">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
            </tr>

            <tr>
              <td>Las graduaciones deben estar grabadas en ambas caras de los dispositivos indicadores.</td>
              <td>
                <ion-select fill="outline" formControlName="IV7">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>
                Inspeccionar que las condiciones de uso del instrumento sean apropiadas.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV8">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
            </tr>

            <tr>
              <td>
                Todas las barras graduadas de los instrumentos deben teber en sus extremos un remache que impida que el
                pilón corredizo sea quitado.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV9">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>
                El ajuste de cero debe ser aceptable, la desviación no debe ser mayor a 0,25e.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV10">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
            </tr>

            <tr>
              <td>
                Los instrumentos que constan de varios receptores de carga y de dispositivos medidores de carga, deben
                tener grabados la marca de identificaión, alcance mínimo de medición, división de inspección y si es
                apropiado, cargar límite y efecto máximo aditivo de tara.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV11">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>
                Los instrumentos que usan energía eléctrica deben ser conectados normalmente a la fuente de energía y
                estar encendidos durante las pruebas realizables después del periodo de calnetamiento especificado por
                el
                fabricante.
              </td>
              <td>
                <ion-select fill="outline" formControlName="IV12">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
            </tr>

            <tr>
              <td>
                Inspeccionar el correcto funcionamiento de los dispositivos: Ajuste a cero, tara y dispositivos de
                cálculo.</td>
              <td>
                <ion-select fill="outline" formControlName="IV13">
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="NC">NC</ion-select-option>
                  <ion-select-option value="NA">NA</ion-select-option>
                </ion-select>
              </td>
              <td>
                <ion-textarea label="Observaciones del inspector" labelPlacement="floating" fill="outline"
                  placeholder="Observaciones del inspector" [autoGrow]="true"
                  formControlName="ObervacionesInspeccionVisual">

                </ion-textarea>
              </td>
            </tr>
        </table>

        <div class="row text-center ">
          <div class="col-md-6 d-grid gap-2">
            <ion-button fill="clear" class="btn btn-secondary">
              Limpiar Formulario
            </ion-button>
          </div>
          <div class="col-md-6 d-grid gap-2">
            <ion-button type="submit" fill="clear" class="btn btn-success">
              Guardar
            </ion-button>
          </div>
        </div>
      </form>
    </ng-container>

    <!-- AQUÍ TERMINA LA INSPECCIÓN VISUAL -->

    <ng-container *ngIf="segment == 'InspeccionMetro'">
      <ion-select placeholder="Seleccione a una bascula" (ionChange)="infoBasculaMtro($event)" fill="outline">
        <ion-select-option *ngFor="let item of basculasMetro; let i = index" [value]="item">Equipo No. {{i+1}} || Marca:
          {{item.marca}}</ion-select-option>
      </ion-select>
      <hr>
      <form (ngSubmit)="getestudioMetro()" [formGroup]="estudioMtro">
        <div class="row">
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="alc_max">
              <label for="floatingtelefono">Alcance Máximo</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="divi_max">
              <label for="floatingtelefono">Divisón máxima</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="clase_ex">
              <label for="floatingtelefono">Clase de exactitud</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="precarga">
              <label for="floatingtelefono">Precarga 100% de Máx</label>
            </div>
          </div>
        </div>
        <hr>
        <h1 class="text-center">Repetibilidad</h1>
        <div>
          <table class="table table-striped table-hover">
            <thead>
              <tr class="text-center">
                <th></th>
                <th>50% de Máx</th>
                <th>100% de Máx</th>
                <th>50% de Máx</th>
                <th>100% de Máx</th>
                <th>1/3 de Máx</th>
              </tr>
            </thead>
            <tbody formArrayName="infoRepetibilidad">
              <tr [formGroupName]="0">
                <th></th>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="rep50num"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="rep100num"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="rep50den"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="rep100den"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="rep13den"></td>
              </tr>
              <tr class="text-center">
                <th></th>
                <th>Diferencia</th>
                <th>Diferencia</th>
                <th>Diferencia</th>
                <th>Diferencia</th>
                <th>EMT</th>
              </tr>
              <tr [formGroupName]="0">
                <th></th>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="diferenciaUno"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="diferenciaDos"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="diferenciaTres"></td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="diferenciaCuatro">
                </td>
                <td><input type="number" class="form-control" id="floatingInput" formControlName="emt13den"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h1 class="text-center">
                  Exactitud
                </h1>
              </div>
              <div class="col-md-6">
                <h1 class="text-center">Repetibilidad</h1>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Carga (kg)</th>
                    <th>EMT (g)</th>
                    <th>Error +/- (g) <br> ASCENDIENTE</th>
                    <th>Error +/- (g) <br> DESCENDIENTE</th>
                    <th></th>
                    <th>Error +/- (g)</th>
                    <th>Error +/- (g)</th>
                    <th>Error +/- (g)</th>
                    <th>Error +/- (g)</th>
                    <th>Error +/- (g)</th>
                  </tr>
                </thead>
                <tbody formArrayName="ejemplo1">
                  <tr *ngFor="let item of ejemplo1.controls; let i = index" [formGroupName]="i">
                    <th>{{ i + 1 }}</th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="carga"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="emt"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="errASC"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="errDSC"></ion-input>
                    </th>
                    <th>

                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="num50"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="num100"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="den50"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="den100"></ion-input>
                    </th>
                    <th>
                      <ion-input type="number" class="form-control" id="floatingInput"
                        formControlName="emt13"></ion-input>
                    </th>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <ion-textarea label="Observaciones del inspector" labelPlacement="floating" fill="outline"
            placeholder="Observaciones del inspector" [autoGrow]="true" formControlName="observaciones">
          </ion-textarea>
          <hr>
          <div class="row text-center m-3">
            <div class="col-md-6 d-grid gap-2">
              <ion-button fill="clear" class="btn btn-secondary">
                Limpiar Formulario
              </ion-button>
            </div>
            <div class="col-md-6 d-grid gap-2">
              <ion-button type="submit" fill="clear" class="btn btn-success">
                Guardar
              </ion-button>
            </div>
          </div>
        </div>
        <hr>

      </form>
    </ng-container>

    <ng-container *ngIf="segment == 'Resumen'">
      <form (ngSubmit)="getDictamenBascula()" [formGroup]="resumen">
        <ion-select placeholder="Seleccione a una bascula" (ionChange)="infoBasculaResumen($event)" fill="outline"
          formControlName="basculaResumen">
          <ion-select-option *ngFor="let item of basculasMetro; let i = index" [value]="item">Equipo No. {{i+1}} ||
            Marca:
            {{item.marca}}</ion-select-option>
        </ion-select>

        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>No. Serie</th>
                <th>Clase</th>
                <th>División maxima</th>
                <th>Alcance maximo</th>
                <th>Tipo de instrumento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ basculaResumen.marca }}</td>
                <td>{{ basculaResumen.modelo }}</td>
                <td>{{ basculaResumen.no_serie }}</td>
                <td>{{ basculaResumen.clase }}</td>
                <td>{{ basculaResumen.divi_max }}</td>
                <td>{{ basculaResumen.alcance_max }}</td>
                <td>{{ basculaResumen.tipo_bascula }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr>
        <h1 class="text-center">Dictamen</h1>
        <hr>

        <div class="row">
          <div class="col-md-3">
            Inspección visual
            <select class="form-select form-select-lg mt-1" aria-label=".form-select-lg"
              formControlName="inspeccion_visual">
              <option value="" selected></option>
              <option value="Cumple">Cumple</option>
              <option value="NoCumple">No cumple</option>
            </select>
          </div>
          <div class="col-md-3">
            Exactitud - I. Metrológica
            <select class="form-select form-select-lg mt-1" aria-label=".form-select-lg" formControlName="exactitud">
              <option value="" selected></option>
              <option value="Cumple">Cumple</option>
              <option value="NoCumple">No cumple</option>
            </select>
          </div>
          <div class="col-md-3">
            Repetibilidad - I. Metrológica
            <select class="form-select form-select-lg mt-1" aria-label=".form-select-lg"
              formControlName="repetibilidad">
              <option value="" selected></option>
              <option value="Cumple">Cumple</option>
              <option value="NoCumple">No cumple</option>
            </select>
          </div>
          <div class="col-md-3">
            Exentricidad - I. Metrológica
            <select class="form-select form-select-lg mt-1" aria-label=".form-select-lg" formControlName="exentricidad">
              <option value="" selected></option>
              <option value="Cumple">Cumple</option>
              <option value="NoCumple">No cumple</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            UI - Folio
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="ui">
            </div>
          </div>
          <div class="col-md-6">
            PRDFECO - Folio
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingtelefono" formControlName="prdfeco">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            DICTAMEN FINAL
            <select class="form-select form-select-lg mt-1" aria-label=".form-select-lg"
              formControlName="dictamen_final">
              <option value="" selected></option>
              <option value="Cumple">Cumple</option>
              <option value="NoCumple">No cumple</option>
            </select>
          </div>
          <div class="col-md-6">
            Equipo de medición
            <select class="form-select form-select-lg mt-1" aria-label=".form-select-lg"
              formControlName="equipo_medicion">
              <option value="" selected></option>
              <option value="equipo_1">Equipo 1</option>
              <option value="equipo_1">Equipo 2</option>
            </select>
          </div>
        </div>
        <hr>
        <ion-textarea label="Observaciones del inspector" labelPlacement="floating" fill="outline"
          placeholder="Observaciones del inspector" [autoGrow]="true" formControlName="observaciones">
        </ion-textarea>

        <hr>
        <div class="row text-center ">
          <div class="col-md-6 d-grid gap-2">
            <ion-button fill="clear" class="btn btn-secondary">
              Limpiar Formulario
            </ion-button>
          </div>
          <div class="col-md-6 d-grid gap-2">
            <ion-button type="submit" fill="clear" class="btn btn-success">
              Guardar
            </ion-button>
          </div>
        </div>
      </form>

    </ng-container>

    <ng-container *ngIf="segment == 'Firma'">

      <form [formGroup]="infoPago">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <td><b>INFORMACIÓN DE PAGO</b></td>
              </tr>
            </thead>
          </table>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Costo</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><input type="number" class="form-control" id="floatingInput" formControlName="cantidad"></th>
                <th><input type="text" class="form-control" id="floatingInput" formControlName="desc"></th>
                <th><input type="number" class="form-control" id="floatingInput" formControlName="costo"></th>
                <th><input type="number" class="form-control" id="floatingInput" formControlName="importe"></th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><input type="number" class="form-control" id="floatingInput" formControlName="importe2"></th>
              </tr>
            </tbody>
          </table>
          <h5 class="text-center"> Firmas </h5>
          <div style="margin-left: 90px;">
            <div class="row m-5 text-center" style="margin-left: 5%;">
              <div class="col-md-3 border border-dark" style="height: 250px; position: relative;">
                <!--PRIMER FIRMA-->
                <canvas #canvas style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></canvas>
              </div>
              <div class="col-md-1" style="height: 250px;"></div>
              <div class="col-md-3 border border-dark" style="height: 250px; position: relative;">
                <!--SEGUNDA FIRMA-->
                <canvas #canvas style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></canvas>
              </div>
              <div class="col-md-1" style="height: 250px;"></div>
              <div class="col-md-3 border border-dark" style="height: 250px; position: relative;">
                <!--TERCER FIRMA-->
                <canvas #canvas style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></canvas>
              </div>

              <div class="col-md-3 border">
                Nombre y Firma del cliente
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3 border">
                Nombre y Firma del inspector
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3 border">
                Nombre y Firma del personal de apoyo
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center ">
          <div class="col-md-6 d-grid gap-2">
            <ion-button fill="clear" class="btn btn-secondary">
              Limpiar Formulario
            </ion-button>
          </div>
          <div class="col-md-6 d-grid gap-2">
            <ion-button fill="clear" class="btn btn-success" (click)="encuestaSatifaccion()">
              Guardar
            </ion-button>
          </div>
        </div>
      </form>


      <div class="text-center">
        <ion-button (click)="imprimirReporte()" fill="clear" class="btn btn-info">
          Imprimir reporte
        </ion-button>
      </div>
    </ng-container>
  </ion-card-content>

</ion-card>